{% extends 'layout.html' %}

{% block content %}
    <h1 align="center">Login</h1>
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
           <h2 > {{message}} </h2>
        {% endfor %}
      </div>
    {% endif %}
    <form action="login" method="post">
        <!-- เพิ่มความปลอดภัยให้กับฟอร์มในรูปแบบ POST  -->
        {% csrf_token %}
        <div class="mb-3">
            <label for="" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" placeholder="Username">
        </div>
        <div class="mb-3">
            <label for="" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
        <input type="submit" value="Login" class="btn btn-success">
    </form>

{% endblock %}